Practica 1 Shikaku/.vs/Practica 1 Shikaku/v17/.suo
Practica 1 Shikaku/Practica 1 Shikaku/bin/Debug/net6.0/Practica 1 Shikaku.dll
Practica 1 Shikaku/Practica 1 Shikaku/bin/Debug/net6.0/Practica 1 Shikaku.pdb
Practica 1 Shikaku/Practica 1 Shikaku/obj/Debug/net6.0/Practica 1 Shikaku.GeneratedMSBuildEditorConfig.editorconfig
Practica 1 Shikaku/Practica 1 Shikaku/obj/Debug/net6.0/Practica 1 Shikaku.assets.cache
Practica 1 Shikaku/Practica 1 Shikaku/obj/Debug/net6.0/Practica 1 Shikaku.csproj.FileListAbsolute.txt
Practica 1 Shikaku/Practica 1 Shikaku/obj/Debug/net6.0/Practica 1 Shikaku.dll
Practica 1 Shikaku/Practica 1 Shikaku/obj/Debug/net6.0/Practica 1 Shikaku.genruntimeconfig.cache
Practica 1 Shikaku/Practica 1 Shikaku/obj/Debug/net6.0/Practica 1 Shikaku.pdb
Practica 1 Shikaku/Practica 1 Shikaku/obj/Practica 1 Shikaku.csproj.nuget.dgspec.json
Practica 1 Shikaku/Practica 1 Shikaku/obj/project.assets.json
Practica 1 Shikaku/Practica 1 Shikaku/obj/project.nuget.cache
